<div class='container new-feels'>
  <h2 class='header'>How are you feeling?</h2>
  <form action='/feels' method='POST'>
    <label class='feels-label' for="fatigue">fatigue:</label>
    <input type="range" name='fatigue' value="10">

    <label class='feels-label' for="hunger">hunger:</label>
    <input type="range" name='hunger' value="10">

    <label class='feels-label' for="thirst">thirst:</label>
    <input type="range" name='thirst' value="10">

    <label class='feels-label' for="discomfort">do you feel any pain or discomfort?</label>
    <input type='text' name='discomfort_location' placeholder='where?'>
    <input type="range" name='discomfort_rating' value="10">

    <label class='feels-label' for="comfort">what do you feel good about today?</label>
    <input type='text' name='comfort_location' placeholder='where?'>
    <input type="range" name='comfort_rating' value="10">

    <input type='submit' value='add'>
  </form>
</div>
